header {
  min-height: 100vh;
  position: relative;
  background: linear-gradient(to top right, #4e3c3c, #864e4e);
  overflow: hidden;
  .intro-text {
    font-family: "Montserrat", sans-serif;
    width: 80%;
    min-height: 100vh;
    color: $textColor;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    h1 {
      font-size: 60px;
      text-transform: uppercase;
      font-weight: bolder;
      letter-spacing: 15px;
      opacity: 0;
      animation: titleAnimation 1s ease forwards 0.5s;
    }
    h3 {
      font-weight: normal;
      font-size: 25px;
      margin-top: 20px;
      opacity: 0;
      animation: titleAnimation 1s ease forwards 1s;
    }
  }
  .chair {
    height: 30%;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-70%, -50%) rotate(180deg);
    opacity: 0;
    animation: chair-rose 1s ease forwards 0.5s;
  }

  .big-rose {
    height: 50%;
    position: absolute;
    bottom: -30%;
    left: 50%;
    animation: chair-rose 1s ease forwards 0.8s;
    opacity: 0;
    transition: transform 1s ease;
  }
}
